page-profile {
    .div {
        padding-top: 20px;
        text-align: center;
        img {
            height: 90px;
            width: 90px;
            border-radius: 5px;
        }
    }
    .ic {
        font-size: 18px;
        color: gray;
        margin: 0px;
        padding: 0px;
    }

    .item-md, .item-ios{
        padding-right: 16px;
    }

    .circular--square {
        display: inline-block;
        position: relative;
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 50%;
        margin: auto;
    }
}
